html {
	background-color: var(--bg-color);
}

.full-page {
    width: 100%;
}

* + * {
	transition: all .5s ease;
}

.page {
    display: flex;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    gap: 10vh;
    padding: 6.25rem 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3rem;
    justify-content: space-between;
}

.page-break {
    width: 100%;
    height: 35vh;
    min-height: 20rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.page-break video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#fall.page-break {
    background-image: url("../images/fall-page-break.jpg");
}

#winter.page-break {
    background-image: url("../images/winter-page-break.jpg");
}

#spring {
    background-image: url("../images/spring-page-break.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.page-break img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.perspective-shift {
    font-variation-settings: "XROT" 0, "YROT" 0;
}

.section-break {
    width: 100%;
}

/* --- NAV --- */

nav {
    position: fixed;
    padding: 1.5rem 0;
    margin: 0 auto;
    background-color: var(--sunflower);
    z-index: 99;
}

nav .content {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
}

nav .logo {
    height: 3.5rem;
}

nav button {
    font-size: 1rem;
}

/* --- MASTHEAD --- */

.header {
    gap: 1rem;
    padding-top: 8rem;
}

#masthead {
    padding: 3rem 0 8rem;
    background-image: url("../images/header-path.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#masthead img, 
#masthead p  {
    max-width: 680px;
    width: 100%;
}

#masthead p {
    padding: 2rem 0;
    background-color: var(--bg-color);
}

/* --- NEW PERSPECTIVES --- */

#new-perspectives {
    padding: 3rem 0;
}

#new-perspectives h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}

#new-perspectives img,
#new-perspectives p {
    max-width: 660px;
    width: 100%;
}

@media screen and (max-width: 450px) {
    #new-perspectives h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    
}

/* --- RELATIONALITY --- */

#relationality {
    width: 100%;
}

#relationality .guiding-idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#relationality h1 {
    max-width: 660px;
}

#relationality .row .stagger {
    margin-top: 10vh;
}

#relationality .guiding-idea img {
   width: 100%;
}

@media screen and (max-width: 1024px) {
    #relationality .guiding-ideas {
        flex-direction: column;
        width: 75%;
        max-width: 400px;
    }

    #relationality .row .stagger{
        margin-top: 0;
    }
}

/* --- CONNECTION --- */

#connection {
    width: 100%;
}

#connection h1 {
    max-width: 660px;
}

/* --- CONCENTRIC INFOGRAPHIC --- */

#concentric-infographic {
    position: relative;
    width: 100%;
    height: 800px;
}

.partner-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .25rem;
    color: var(--newt);
    z-index: 5;
    width: 16rem;
    text-align: left;
}

.partner-info a {
    color: var(--newt);
}

.partner-info a::after {
    content: " ↗";
    width: 1rem;
    height: 1rem;
}

.partner-info .tag{
    border: 1.5px solid var(--newt);
    padding: .25rem .75rem;
    border-radius: 1rem;
    font-size: .875rem;
}

#concentric-infographic .partner img {
    z-index: -1;
    width: 300px;
}

#sdg,
#nat-lib {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nat-lib {
    flex-direction: row-reverse;
    align-items: flex-end;
}

#lib-farm,
#greenpoint {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#greenpoint {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#sdg {
    position: absolute;
    top: 0;
    left: 0;
}

#lib-farm {
    position: absolute;
    top: 0;
    right: 0;
}

#greenpoint {
    position: absolute;
    bottom: 0;
    left: 0;
}

#nat-lib {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 1200px) {
    #concentric-infographic {
        height: 1100px;
    }

    #sdg,
    #lib-farm {
        flex-direction: column-reverse;
    }

    #greenpoint,
    #nat-lib {
        flex-direction: column;
    }

    .partner-info {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 720px) {
    #concentric-infographic .partner {
        width: 40%;
    }
    #concentric-infographic .partner-info {
        width: 100%;
    }

    #concentric-infographic .partner img {
        width: 100%;
    }
}

/* --- CONCENTRIC RINGS AND BRANCHES --- */

#concentric-diagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20rem;
    transform-origin: 0% 0%;
}

#concentric-rings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
    #concentric-infographic {
        height: 1000px;
    }

    #concentric-diagram {
        transform: scale(.875) translate(-50%, -50%);
    }
}


@media screen and (max-width: 1024px) {
    #concentric-infographic {
        height: 900px;
    }

    #concentric-diagram {
        transform: scale(.675) translate(-50%, -50%);
    }
}


@media screen and (max-width: 720px) {
    #concentric-infographic {
        height: 700px;
    }

    #concentric-diagram {
        transform: scale(.5) translate(-50%, -50%);
    }
}


/* --- LINE BRANCHES --- */

#sdg-line {
    position: absolute;
    top: 8rem;
    left: -14rem;
    transform-origin: 100% 50%;
    transform: rotate(45deg);
}

#greenpoint-line {
    position: absolute;
    bottom: 9rem;
    left: -13rem;
    transform-origin: 100% 50%;
    transform: rotate(-30deg);
}

#lib-farm-line {
    position: absolute;
    top: 4em;
    right: -6rem;
    transform-origin: 0% 50%;
    transform: rotate(-25deg);
}

#nat-lib-line {
    position: absolute;
    bottom: 5rem;
    right: -7rem;
    transform-origin: 0% 50%;
    transform: rotate(30deg);
}

/* --- METRO --- */

#metro {
    background-color: var(--pine);
    color: var(--white);
}

#metro a {
    color: var(--sunflower)
}

#metro .highlight {
    color: var(--sunflower);
}

#metro p {
    max-width: 528px;
    text-align: left;
}

#metro-vendiagram {
    flex-wrap: wrap;
    max-width: 660px;
    row-gap: 2rem;
    column-gap: unset;
    justify-content: center;
}

#metro-vendiagram .item-a {
    order: 1;
    width: 25%;
    text-align: right;
}

#metro-vendiagram img {
    order: 2;
}

#metro-vendiagram .item-b {
    order: 3;
    width: 25%;
    text-align: left;
}

#metro-vendiagram .item-c {
    order: 4;
    flex-grow: 3;
}

@media screen and (max-width: 700px) {
    #metro-vendiagram .item-a,
    #metro-vendiagram .item-b {
        width: 50%;
        text-align: center;
    }

    #metro-vendiagram .item-a {
        order: 1;
    }
    
    #metro-vendiagram img {
        order: 3;
    }
    
    #metro-vendiagram .item-b {
        order: 2;
    }
    
    #metro-vendiagram .item-c {
        order: 4;
    }
    
}


/* --- EVOLVING --- */

#evolving {
    background-color: var(--sunflower);
}

#evolving h1,
#evolving p {
    max-width: 660px;
}

.evolving-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    max-width: 1000px;
    background-image: url("../images/evolving-path.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.evolving-timeline h2 {
    padding: .5rem 1.25rem;
    background-color: var(--white);
    width: fit-content;
    border-radius: 2rem;
}

.year {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    width: 100%;
    text-align: left;
}

.year ul {
    width: 33%;
}

.year-info {
    position: absolute;
    height: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.year h2,
.year img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.year h2 {
    z-index: 1;
}

.year.right {
    justify-content: flex-end;
}

.year.next {
    margin: 3rem 0 6rem;
}

@media screen and (max-width: 800px) {
    .year-info {
        position: initial;
        transform: translate(0%, 0%);
    }

    .year ul {
        width: 75%;
        background-color: var(--sunflower-opacity50);
        box-shadow: 0 0 1rem 1rem var(--sunflower-opacity50);
        padding: 2rem;
        backdrop-filter: blur(.125rem);
    }

    .year {
        justify-content: space-around;
        flex-direction: column;
        gap: 1rem;
    }

    .evolving-timeline {
        background-image: url("../images/evolving-path-sm-screen.svg");
        background-size: cover;
    }
}

/* --- IMAGINE THE FIELD --- */

#imagine {
    position: relative;
    z-index: 1;
    padding: 25vh 0;
}

#imagine .cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--white);
} 

#imagine img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
}

#imagine .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#imagine h1 {
    font-size: 6.25rem;
    line-height: 6.25rem;
    width: 100%;
}

@media screen and (max-width: 450px) {
    #imagine h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    #imagine .button-container {
        flex-direction: column;
    }

    #imagine img {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    
}

/* --- CONSLUSION --- */

.conclusion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.25rem;
    background-color: var(--slate-opacity75);
    color: var(--white);
    padding-top: 3rem;
    box-shadow: 0 -2rem 2rem var(--slate-opacity75);
}

.conclusion a {
    color: var(--white);
}

.conclusion a:hover {
    color: var(--sunflower);
}

.conclusion .column{
    text-align: left;
    gap: 2rem;
}

.conclusion .page{
    padding: 0;
}

.conclusion h2{
    width: 100%;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--white);
}

.conclusion .row-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#inspiration a::after {
    content: " ↗";
    width: 1rem;
    height: 1rem;
}

.photos {
    width: 66%;
}

.photos .row ul {
    flex-grow: 1;
}

.type-and-design {
    flex-grow: 1;
    gap: 3rem !important;
}

.design {
    align-items: flex-start;
}

.design .logo {
    height: 3.5rem;
}

@media screen and (max-width: 1024px) {
    #inspiration .row,
    #credits .row {
        flex-direction: column;
    }

    #credits .photos {
        width: 100%;
    }

    #credits .photos .row {
        flex-direction: row;
        width: 100%;
    }
}


@media screen and (max-width: 660px) {
    #inspiration .row,
    #credits .row {
        flex-direction: column !important;
    }
}


/* --- FOOTER --- */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: var(--white);
    padding: 2rem 0 !important;
    border-top: 1px solid var(--white);
}

footer .logos,
footer .button-container {
    width: fit-content;
}

footer .logos {
    gap: 2rem;
}

footer .button-container {
    gap: .5rem;
}

footer .logo {
    height: 3.5rem;
}

footer button {
    font-size: 1rem;
}

footer a {
    color: var(--white);
}

footer a:hover {
    color: var(--sunflower);
}

@media screen and (max-width: 1024px) {
    footer.page {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }
}