html {
	background-color: var(--bg-color);
}

.full-page {
    width: 100%;
}

* + * {
	transition: all .5s ease;
}

.page {
    display: flex;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    row-gap: 10vh;
    padding: 6.25rem 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3rem;
    justify-content: space-between;
}

.page-break {
    width: 100%;
    height: 35vh;
    min-height: 20rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.page-break video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

